# Salin file ini menjadi .env lalu isi nilainya. Jangan commit .env asli.

TIKTOK_EMAIL=
TIKTOK_PASSWORD=

EMAIL_IMAP_SERVER=imap.gmail.com
EMAIL_IMAP_PORT=993
EMAIL_ACCOUNT=
# App Password Gmail (bukan password akun biasa), lihat:
# https://myaccount.google.com/apppasswords
EMAIL_APP_PASSWORD=

TARGET_VIDEO_URL=https://www.tiktok.com/@username/video/1234567890
